%h2 Afíliate al Partido de Internet
%div.grid_13
  %p
    ¿Quieres afiliarte al Partido de Internet? Es fácil. Haz click en el botón de la derecha para
    ver las instrucciones para poder afiliarte.
  %br
  %p
    Requisitos:
    Ser mayor de edad.
    Conocer y asumir los Estatos del partido así como sus principios de actuación.
%div.grid_8
  =link_to '¡QUIERO AFILIARME!',{:action => 'afiliate', :controller => 'info'}, :class => 'big-link'