#dasboard
  .grid_22.content
    %h2 Necesitamos colaboradores
    %div.grid_13
      %p
        En este momento el Partido De Internet está creciendo a un ritmo cada vez mayor, y
        cada vez son más las necesidades que tenemos que atender. Por eso, si crees que puedes
        colaborar en algún ámbito, no dudes en comunicarlo.
      %br
      %p
        Si quieres ver en las áreas que estamos trabajando ahora, visita la
        = link_to('wiki','http://www.partidodeinternet.es/wiki/Áreas_de_trabajo')
    %div.grid_8
      =link_to '¡QUIERO COLABORAR!',{:action => 'colaborations', :controller => 'users'}, :class => 'big-link'

  .grid_22.content-divider

  .grid_11.alpha
    .grid_9.content
      %h2 Top 5 del Ranking
      %p.important= "Ya somos #{User.active.count}"
      =render :partial => "shared/ranking"
      = link_to "Ver todo el ranking", ranking_path

  #redes-sociales.grid_11.content.omega
    %h2 Apóyanos en Redes Sociales
    =render :partial => "shared/redes_sociales"