-title 'Inicio', false
#dasboard
  .grid_22.content
    =render :partial => "afiliate"
  
  .grid_22.content
    =render :partial => "colaborate"
      
  .grid_22.content-divider

  .grid_11.alpha
    .grid_9.content
      %h2 Top 5 del Ranking
      %p.important= "Ya somos #{User.active.count}"
      =render :partial => "shared/ranking"
      = link_to "Ver todo el ranking", ranking_path

  #redes-sociales.grid_11.content.omega
    %h2 Apóyanos en Redes Sociales
    =render :partial => "shared/redes_sociales"