body {
  height: 100%;
  font-size:1em;
  font-family: Time, Serif;
  background: url('/images/bg_tile.jpg') repeat-x;
  color: #666666;
}

h1.logo {
  height: 69px;
  background: url('/images/logo_app.png') no-repeat;
}

h2 {
  font-size: 1.8em;
  border-bottom: 5px solid black;
  font-weight: bold;
  padding-bottom: 4px;
  color: black;
}

a {
  color: #e38226;
  text-decoration: none;
}

.none {
  display:none;
}

.divider-short, .divider-long { 
  height: 58px;
  margin-bottom: 20px;
}

.divider-short {
   width: 100%;
   background: url('/images/divider_310x58.png') no-repeat center;
}

.divider-long {
   width: 100%;
   background: url('/images/divider_470x58.png') no-repeat center;
}

#top, h2, .info-block, info-block-bottom,
legend, #ranking, #colaborar div  {
  margin-bottom: 20px;
}

#yield-container {
  margin-left: 20px;
}

#center-container {
  margin-left: 40px;
}

/****** MENU *****/
#user_status {
  margin-bottom: 5px;
  font-weight: bold;
  padding-left: 40px;
  background: url(/images/divider_950x57.png) no-repeat bottom;
  height: 80px;
}

#user_status a {
   text-decoration: none;
}

#user_status a:hover  {
   text-decoration: underline;
}

.close-session a {
  display:block;
  margin-top: 10px;
  color: white;
  background-color: #e38226;
  text-align: center;
}

/**** Formularios ****/
label {
  font-weight: bold;
  font-size: 1.4em;
  display:block;
}

input[type="text"],
input[type="password"] {
  border: 3px solid #a2a2a2;
  color:black;
  font-size: 1.4em;
  padding: 5px;
  width: 430px;
}

fieldset p, fieldset div {
  margin-bottom: 20px;
}

input.openid { width: 290px; }

input[type="submit"] {
  padding: 10px;
  background-color: #e38226;
  border: none;
  color: white;
  font-size: 1.4em;
  cursor: pointer;
}

.submit {
  text-align: center;
  padding: 10px;
}

select {
  margin-bottom: 20px;
  width: 300px;
  font-size: 1.4em;
}

.obligatorio {
  font-style: italic;
  color: #d60f71;
}

.inline {
  display: inline;
}

/**** Errores formulario ***/

.errorExplanation h2 {
  font-size: 1.4em;
  border-bottom:none;
  color: red;
}

.errorExplanation ul {
  margin-left: 20px;
  margin-bottom: 20px;
}

.errorExplanation ul li {
  margin-bottom: 10px;
  color: red;
}

.fieldWithErrors {
  display:inline;
}

.register .fieldWithErrors input {
  border-color: red;
}

/**** Mensajes sistema ****/
#flash_success,
#flash_notice {
  font-size: 1.8em;  
  margin-left: 50px;
  margin-bottom: 20px;
}

#flash_notice,
#flash_error {
  color: red;
}

#flash_success {
  color: green;
}

/*** dasboard ***/
#dasboard .content { margin-bottom: 30px;}

.content-divider {
  height: 1px;
  background: url(/images/divider_950x1.png) no-repeat bottom;
  margin-bottom: 30px;
}

#dasboard h2 {
  border-bottom-width: 3px;
  font-size: 1.4em;
}

#dasboard {
  margin-left: -22px;
}

#dasboard .big-link {
  display: block;
  padding: 10px;
  color: white;
  background: #e38226;
  width: 230px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  margin-left: 20px;
}

/******* RANKING *****/
.important {
  color: #d60f71;
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.8em;
}

#ranking td {
  padding: 5px;
}

#ranking .region_users {
  text-align: right;
}

#ranking .odd {
  background-color: #e4e4e4;
}

#ranking th {
  padding: 5px;
  font-weight: bold;
  border-bottom: solid 1px;
}

#ranking th.right { text-align: right}

#areas li { margin-bottom: 8px;}

/******* FOOT *****/
#foot {
  margin-top: 40px;
  background: url('/images/footer.png') no-repeat;
  padding-top: 20px;
  font-size: 0.9em;
}

#foot li.title,
#foot li.title a {
  font-weight: bold;
  color: #666666;
}

.edit_user fieldset {
  border-top: solid 1px black;
  margin-top: 15px;
}

.edit_user legend { 
  font-size: 1.6em;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px;
  text-align: left;
  color: #666666;
}

#show_user p { margin-bottom: 15px; }

ul.social-links li { height: 40px;}
ul.social-links li a { padding: 6px;}
ul.social-links li * { float: left;}