body {
  height: 100%;
  font-size:1em;
  font-family: Time, Serif;
  background: url('/images/bg_tile.jpg') repeat-x;
  color: #666666;
}

h1.logo {
  height: 69px;
  background: url('/images/logo_app.png') no-repeat;
}

h2 {
  font-size: 1.8em;
  border-bottom: 5px solid black;
  font-weight: bold;
  padding-bottom: 4px;
  color: black;
}

a {
  color: #e38226;
}

.none {
  display:none;
}

.divider-short, .divider-long { 
  height: 58px;
  margin-bottom: 20px;
}

.divider-short {
   width: 100%;
   background: url('/images/divider_310x58.png') no-repeat center;
}

.divider-long {
   width: 100%;
   background: url('/images/divider_470x58.png') no-repeat center;
}

#top, h2, .info-block, info-block-bottom,
legend {
  margin-bottom: 20px;
}

#yield-container {
  margin-left: 20px;
}

#center-container {
  margin-left: 40px;
}


/**** Formularios ****/
label {
  font-weight: bold;
  font-size: 1.4em;
  display:block;
}

input[type="text"],
input[type="password"] {
  border: 3px solid #a2a2a2;
  color:black;
  font-size: 1.4em;
  padding: 5px;
  width: 430px;
}

fieldset p {
  margin-bottom: 20px;
}

input.openid { width: 290px; }

input[type="submit"] {
  padding: 10px;
  background-color: #e38226;
  border: none;
  color: white;
  font-size: 1.4em;
  cursor: pointer;
}

p.submit {
  text-align: center;
  padding: 10px;
}

select {
  margin-bottom: 20px;
  width: 300px;
  font-size: 1.4em;
}

.obligatorio {
  font-style: italic;
  color: #d60f71;
}

.inline {
  display: inline;
}

/**** Errores formulario ***/

.errorExplanation h2 {
  font-size: 1.4em;
  border-bottom:none;
  color: red;
}

.errorExplanation ul {
  margin-left: 20px;
  margin-bottom: 20px;
}

.errorExplanation ul li {
  margin-bottom: 10px;
  color: red;
}

.fieldWithErrors {
  display:inline;
}

.register .fieldWithErrors input {
  border-color: red;
}

/**** Mensajes sistema ****/
#flash_success,
#flash_notice {
  font-size: 1.8em;  
  margin-left: 50px;
  margin-bottom: 20px;
}

#flash_notice,
#flash_error {
  color: red;
}

#flash_success {
  color: green;
}

/******* FOOT *****/
#foot {
  margin-top: 40px;
  background: url('/images/footer.png') no-repeat;
  padding-top: 20px;
  font-size: 0.9em;
}

#foot li.title,
#foot li.title a {
  font-weight: bold;
  color: #666666;
}