.afiliate
  %h2 Afíliate al Partido de Internet
  %h3 PASO 1

  %p
    Debes
    %strong=link_to "descargarte la siguiente plantilla", "/hoja_afiliacion.pdf"
    y rellenarla por completo. Una vez cumplimentada, nos la puedes enviar por email o por correo postal,
    junto con una
    %strong fotocopia de tu DNI / NIE.
    Hay que firmar la hoja físicamente, aunque el pdf incluya firma digital.

  %ul.tab
    %li
      %strong Email:
      afiliacion@partidodeinternet.es
    %li
      %strong Dirección:
      Dirección: Partido de Internet, av. Francia, 1, T3-14D, 46023, Valencia
 
  %h3 PASO 2
  %p
    Elije tu modelo de pago. La cuota mínima para afiliarse es de 1 euro al año.
    En el Partido de Internet, el grueso de nuestra financiación proviene de las
    cuotas de nuestros miembros, porque es nuestro interés que sean los ciudadanos
    los que sustenten el Partido para
    %strong seguir siendo independientes.
    Por eso, ponemos a tu disposición distintas opciones:

  %ul.multiline.tab
    %li
      %strong Opción 1:
      Sólamente es necesario 1 euro al año para afiliarte.
    %li
      %strong Opción 2:
      10 euros el primer año; el año que viene, volverás a elegir.
      Con esta opción, recibirás tu carnet oficial de miembro del Partido.
    %li
      %strong Opción 3:
      60 euros el primer año; el año que viene, volverás a elegir.
      Con esta opción, recibirás tu carnet oficial de miembro del Partido,
      tu camiseta, y otra serie de regalos y artículos.
    %li
      %strong Opción 4:
      Tú decides tu cuota anual. Con esta opción además, todo el dinero recaudado
      irá destinado integramente a la financiación del Partido, evitando destinar
      parte de la cuota a la fabricación de material como el carnet o camisetas.

  %h3 PASO 3
  %p
    Una vez que ya tienes la documentación lista y enviada, y
    has pensado tu modelo de pago, ya solamente falta por realizar el ingreso.
    Para ello, debes hacernos llegar el importe de tu opción seleccionada 
    mediante una de estas dos opciones:

  %ul.multiline.tab
    %li
      %strong 1) Transferencia o ingreso en cuenta a:
    
      %p.tab
        %br Partido de Internet
        %br Num. de cuenta: 2077-0040-76-6600004512
        %br Num. IBAN de la cuenta (para transferencias internacionales):
        %br IBAN ES27 2077 0040 7666 0000 4512
      
      %p
        En los comentarios de la transferencia, debes indicar tu NIF, 
        y la opción que has elegido (1, 2, 3 ó 4).
      
      %p.tab
        Por ejemplo:
        %span.cursive "43679812A, Opción 2"
        
      %p 
        Si haces el ingreso en ventanilla, el banco nos cobrará 0'15 euros de comisión, 
        por lo que preferimos que sea mediante transferencia o mediante ingreso en cajero automático.
    
    %li
      %strong 2) Pagando por paypal:
    
      %p
        %br Para eso, dirígete a la página: 
        =link_to "http://www.partidodeinternet.es/afiliacion-pago-paypal","http://www.partidodeinternet.es/afiliacion-pago-paypal"
        y sigue las instrucciones que están indicadas allí. 
    
      %p
        Con esta opción, Paypal nos cobra alrededor de un 3% de comisión con un mínimo de 0'35 euros, 
        por lo que preferimos que utilices la primera opción.
    