%h2 Afíliate al Partido de Internet
%p
  Para afiliarte al Partido de Internet, debes seguir los siguientes pasos:

%br 
%p  
  1) Debes descargarte la siguiente plantilla y rellenarla por completo.
  Una vez cumplimentada, nos la puedes enviar por email o por correo postal, junto con una fotocopia de tu DNI / NIE.
%br
%p  
  Email: afiliacion@partidodeinternet.es
  
  Dirección: Partido de Internet
  av. Francia, 1, T3-14D, 46023, Valencia

%br 
%p             
  =link_to "Hoja de afiliación", "/hoja_afiliacion.pdf"
  
%br 
%p 
  2) Elije tu modelo de pago.  La cuota mínima para afiliarse es de 1 euro al año.
  En el Partido de Internet, el grueso de nuestra afiliación proviene de las cuotas de 
  nuestros miembros, porque es nuestro interés que sean los ciudadanos los que
  sustenten el Partido para seguir siendo independientes.  Por eso, ponemos a tu
  disposición distintas opciones:

%br 
%p    
  Opción Básica:
  Sólamente es necesario 1 euro al año para afiliarte.
  
%br 
%p  
  Opción Carnet:
  10 euros el primer año. 1 euro a partir del segundo.
  Con esta opción, recibirás tu carnet oficial de miembro del Partido.
  
%br 
%p  
  Opción Premium:
  60 euros el primer año. 1 euro a partir del segundo.
  Con esta opción, recibirás tu carnet oficial de miembro del Partido,
  tu camiseta, y otra serie de regalos y artículos.
  
%br 
%p  
  Opción libre:
  Tú decides tu cuota anual.  Con esta opción además, todo el dinero recaudado
  irá destinado integramente a la financiación del Partido, evitando destinar
  parte de la cuota a la fabricación de material como el carnet o camisetas.
    
%br 
%p  
  3) Una vez que ya tienes la documentación lista y enviada, y has pensado tu
  modelo de pago, ya solamente falta por realizar el ingreso.  Para ello, debes
  hacernos llegar el importe de tu opción seleccionada mediante transferencia
  o ingreso en cuenta a:

%br 
%p
  Partido de Internet
  Num. de cuenta 2077-0040-74-3102085084
  Num. IBAN de la cuenta (para transferencias internacionales): 
  IBAN ES38 2077 0040 7431 0208 5084

%br 
%p
  En los comentarios de la transferencia, debes indicar tu código de registro
  [ID_USUARIO] y la opción que has elegido.
%p  
  Por ejemplo: "00097. Opción Premium"
             