<h2>Condiciones legales del Partido de Internet</h2>
<p>En cumplimiento de la <a
href="http://noticias.juridicas.com/base_datos/Admin/lo15-1999.html">Ley
Orgánica 15/1999</a>, de 13 de diciembre, de Protección de Datos de
Carácter Personal (LOPD), le informamos que los datos personales que nos
suministre a través del sitio web partidodeinternet.es y subdominios,
serán tratados de forma confidencial y pasarán a formar parte de un
fichero automatizado titularidad de <a
href="http://servicio.mir.es/registro-partidos/loadDetallesFormacion.htm?protocolo=3966">Partido
de Internet</a>. Por tanto, el cumplimentación de los formularios
incluidos en el sitio Web, implica el consentimiento expreso del Usuario a
la inclusión de sus datos de carácter personal en el referido fichero.</p>

<p>La información facilitada por el simpatizante podrá ser utilizada por
el Partido de Internet con NIF G98217490, exclusivamente para las
siguientes finalidades: i) Envío de la información expresamente
solicitada. ii) Envío periódico de información sobre el Partido de
Internet, incluyendo las novedades que se vayan produciendo.</p>

<p>El simpatizante puede ejercitar los derechos de acceso, rectificación,
cancelación y oposición en cualquier momento, conforme a la legislación
vigente poniéndose en contacto com el responsable del fichero por correo
electrónico (<a
href="mailto:lopd@partidodeinternet.es">lopd@partidodeinternet.es</a>) o
por correo postal: Av. Francia, 1, T3-14D, 46023 Valencia (España).</p>

<p>El afiliado acepta de forma inequívoca y declara conocer que los
servidores de hosting se encuentran físicamente en EEUU alojados en
centros de datos de la empresa Slicehost LLC la cual no cuenta con el
certificado <a href="https://www.export.gov/safehrbr/list.aspx">Safe
Harbor</a> ("puerto seguro"), otorgando por ello su consentimiento expreso
a que sus datos sean alojados en los referidos servidores. De acuerdo al
Art. 34, párrafos 5 y 6 de la Ley Orgánica 15/1999, de 13 de diciembre, de
Protección de Datos de Carácter Personal (LOPD), usted entiende que no
comunicaremos sus datos personales a terceros, salvo a Slicehost, situado
en EEUU, siendo la finalidad de la misma el almacenamiento de sus datos en
los servidores allí alojados.</p>

