#foot.grid_24
  .grid_4.alpha
    %ul
      %li.title=link_to('Estatutos', '#')
      %li.title=link_to('Participa con microacciones', '#')
  .grid_4
    %ul
      %li.title Coordinación General
      %li=link_to('Plan estratégico', '#')
      %li=link_to('Coordinación Territorial', '#')
  .grid_4
    %ul
      %li.title Comunicación y Marketing
      %li=link_to('Prensa', '#')
  .grid_7
    %ul
      %li.title Tecnología
      %li=link_to('Foro', '#')
      %li=link_to('Wiki', '#')
      %li=link_to('Otras Infraestructuras', '#')
      %li=link_to('Sistema de Votación', '#')
      %li=link_to('Administración de Máquinas y Servicios', '#')
  .grid_3
    %ul
      %li.title Soporte
      %li=link_to('Contacto', '#')
      %li=link_to('¿Quieres trabajar?', '#')
  .grid_2.omega
    %ul
      %li.title Finanzas y Legalidad
      %li=link_to('Área de finanzas', '#')
      %li=link_to('Área legal', '#')