#foot.grid_24
  .grid_4.alpha
    %ul
      %li.title=link_to('Estatutos', 'http://www.partidodeinternet.es/wiki/Legal:Estatutos')
      %li.title Participa con microacciones
  .grid_4
    %ul
      %li.title Coordinación General
      %li=link_to('Plan estratégico', 'http://www.partidodeinternet.es/wiki/%C3%81rea_Plan_Estrat%C3%A9gico')
      %li=link_to('Coordinación Territorial', 'http://www.partidodeinternet.es/wiki/Coordinaci%C3%B3n_Territorial')
  .grid_4
    %ul
      %li.title Comunicación y Marketing
      %li=link_to('Prensa', 'http://www.partidodeinternet.es/wiki/Comunicaci%C3%B3n_y_M%C3%A1rketing')
  .grid_6
    %ul
      %li.title Tecnología
      %li=link_to('Foro', 'http://www.partidodeinternet.es/foro')
      %li=link_to('Wiki', 'http://www.partidodeinternet.es/wiki')
      %li=link_to('Otras Infraestructuras', 'http://partidodeinternet.es/foro/viewforum.php?f=19')
      %li=link_to('Sistema de Votación', 'http://www.partidodeinternet.es/wiki/Infraestructuras_y_Sistema_de_Votaci%C3%B3n')
      %li=link_to('Administración de Máquinas y Servicios', 'http://www.partidodeinternet.es/wiki/Infraestructuras_y_Sistema_de_Votaci%C3%B3n')
  .grid_3
    %ul
      %li.title Soporte
      %li=link_to('Contacto', 'http://partidodeinternet.es/contactar')
      %li=link_to('¿Quieres trabajar?', 'http://www.partidodeinternet.es/wiki/Soporte')
  .grid_3.omega
    %ul
      %li.title Finanzas y Legalidad
      %li=link_to('Área de finanzas', 'http://www.partidodeinternet.es/wiki/%C3%81rea_Finanzas')
      %li=link_to('Área legal', 'http://www.partidodeinternet.es/wiki/%C3%81rea_Legal')